<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="tela == 1">
    Tela 1 
  </ion-card>
  <ion-card  *ngIf="tela == 2">
    Tela 2
  </ion-card>
  <ion-card  *ngIf="tela == 3">
    Tela 3 
  </ion-card>

  <ion-button *ngIf="tela < 3" (click)="proximo()">Proximo</ion-button>
  <ion-button *ngIf="tela != 1" (click)="anterior()">Anterior</ion-button>
  <ion-button  *ngIf="tela == 3"  (click)="salvar()">Salvar</ion-button>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
